body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section { text-align: center; }

#quote { font-family: 'Indie Flower', cursive; width: 60%; box-align: center; font-size: 2em; color: white; margin-left: auto; margin-right: auto; }

.tof{ border-radius: 50%; width: 200px; height: 200px; background-size: cover; }

section { background-color: dimgrey; margin-top: 5em; }

h1 { margin-top: 1em; }

.btn { margin-top: 0.5em; border-radius: 50%; background-color: orangered; font-family: 'Pacifico', cursive; }

#auteur { font-family: 'Pacifico', cursive; font-size: 1em; color: white; margin-bottom: 1.5em; margin-top: 1em; }
